<div class="titulos">
    <H1>MIREN, TENGO UNA NOVIA JUICIOSA 😍</H1>
</div>

<div class="contenido">
    <p>¿Qué toca estudiar hoy?<br><br>Las que tienen un 👨‍💻 tienen preguntas nuevaas.</p>
    <!--button class="tema" (click)="elegirEstudiar('Tablas de verdad');">Tablas de verdad</button-->
    <button class="tema" (click)="elegirEstudiar('Evaluar proposiciones');">Evaluar proposiciones</button>
    <button class="tema" (click)="elegirEstudiar('¿Simple o compuesta?');">¿Simple o compuesta?</button>
    <button class="tema" (click)="elegirEstudiar('Reescribir proposiciones');">Reescribir Proposiciones</button>
    <br>
    <p>Si ya viste algún tema hace más de 4 días y no he puesto nada para estudiarlo, o encuentras algún bug, tienes un deseo gratis 🙍‍♂️.</p>
</div>

<div class="titulos" >
    <H1>{{queEstudiar}}</H1>
</div>

<div [style.display]=" this.queEstudiar=='Reescribir proposiciones' ? 'block' : 'none' " class="contenido">
    <p>Para este premio, tienes que convertir las frases a expresiones lógicas, y ver con cuál de las tres opciones encaja mejor. 
        Cuando tengas el resultado, colocas en el cuadro de abajo A, B, o C, dependiendo si es la primera, segunda, o tercera.</p>
    <p>Cuando acabes, le das en ¿Cómo lo hice?, y yastá.</p>
    <ul>
        <b>El viernes no vamos a vernos.<br></b>
        <li>
            p
        </li>
        <li>
            ~p <!--b-->
        </li>
        <li>
            p ∨ ~p 
        </li>
        <b>Si como empanadas, me salen gorditos.</b>
        <li>
            p → q <!--a-->
        </li>
        <li>
            p → p 
        </li>
        <li>
            p → ~q
        </li>
        <b>Si como empanadas o arepas, me salen gorditos.</b>
        <li>
            p → q 
        </li>
        <li>
            (p ∨ q) → r <!--b--> 
        </li>
        <li>
            p ∨ (q → r)
        </li>
        <b>Andrea sale conmigo los domingos, porque trabaja los sábados y los martes.</b>
        <li>
            p → q 
        </li>
        <li>
            p ∧ p → r 
        </li>
        <li>
            p ∧ q → r <!--c-->
        </li>
        <b>El Sol es una estrella si y sólo si 1+2=4.</b>
        <li>
            p ↔ q <!--a-->
        </li>
        <li>
            p ↔ p 
        </li>
        <li>
            p ↔ ~q
        </li>
        <b>En una casa hay jardín si y solo sí esa casa es habitada por una familia o por dos perros.</b>
        <li>
            (q ∧ r) → p
        </li>
        <li>
            Todas están mal, novio tonto.
        </li>
        <li>
            p ↔ (q ∧ r)<!--c-->
        </li>
        <b>TE AMOOOOOOO y quiero estar contigo todos los días de mi vida.</b>
        <li>
            p ∨ q <!--a-->
        </li>
        <li>
            p → p → p  → p  → p  → p  → p  
        </li>
        <li>
            Si escribes mal amo, no es una proposición.
        </li>
    </ul>
    <div class="checkDiv">
        <input class="checkText" type="text" #respuestasReescribirPrep>
        <button class="checkBtn" (click)="checkAnswers(respuestasReescribirPrep.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>

<div [style.display]=" this.queEstudiar=='Evaluar proposiciones' ? 'block' : 'none' " class="contenido">
    <p>Para este premio, tienes que ver cada uno de los elementos de la lista que está abajo, y evaluar si el resultado de la 
        expresión es Verdadero o Falso.<br>En <a href="https://matematicasn.blogspot.com/2015/11/logica-proposicional-ejercicios.html">este link </a> 
        me parece que explican bien por si tienes dudas, pero si se te hace bola porfi preguntame.</p>
    <p>A medida que las vayas resolviendo, colocas V o F dependiendo del resultado. Cuando acabes, le das en ¿Cómo lo hice?.</p>
    <p>pd: yo sé que no es tan bonito ni sencillo de usar, pero soy tonto y se me hizo bola hacer algo más bonito 🙁.</p>
    <ul>
        <b>p=Verdadero.<br>
        q=Falso<br></b>
        <li>
            p ∧ q ∨ q <!--F-->
        </li>
        <li>
            p ∧ ¬p <!--F-->
        </li>
        <li>
            p ∨ ¬p <!--V-->
        </li>
        <li>
            [(p → q) ∧ p] → q <!--V-->
        </li>
        <li>
            [(p → q) ∧ ¬q] → ¬p <!--V-->
        </li>
        <b>p=Verdadero.<br>
        q=Verdadero<br></b>
        <li>
            p ∧ q → p <!--V-->
        </li>
        <li>
            (p → q) ∧ ¬q <!--F-->
        </li>
        <b>p=Falso.<br>
            q=Falso
            r=Verdadero<br></b>
        <li>
            (p ∧ q) ∨ (p ∧ r) <!--F-->
        </li>
        <li>
            p ∧ (q ∨ r) <!--F-->
        </li>
        <b>Ahora con proposiciones escritas.</b>
        <li>El sol es rojo</li> <!--F-->
        <li>Andrea come pizza y hamburguesa.</li> <!--V-->
        <li>Quiero helado de cerveza, o de mandarina, o de limón, o de lulo.</li><!--V-->
        <li>Me gusta la carne y la cebolla</li><!--F-->
    </ul>
    <div class="checkDiv">
        <input class="checkText" type="text" #respuestasEvaluarPrep>
        <button class="checkBtn" (click)="checkAnswers(respuestasEvaluarPrep.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>

<div [style.display]=" this.queEstudiar=='¿Simple o compuesta?' ? 'block' : 'none' " class="contenido">
    <p>Este es fácil, tienes que ver cada uno de los elementos de la lista que está abajo, y analizar si es una proposición simple,
        una proposición compuesta o si ni siquiera es una proposición.</p>
    <p>A medida que las vayas resolviendo, colocas las respuestas en el cuadro de texto de abajo así: S si es simple, C si es 
        compuesta, y N si no es una proposición. Cuando acabes, le das en ¿Cómo lo hice?.</p>
    <p>pd: yo sé que no es tan bonito ni sencillo de usar, pero soy tonto y se me hizo bola hacer algo más bonito 🙁.</p>
    <ul>
        <li>Maximiliano es un buen lugar para mimir.</li>
        <li>Ten un lindo día.</li>
        <li>Prende la luz.</li>
        <li>Andrea guarda cosas indebidas en una carpeta oculta.</li>
        <li>Si no tengo nada que hacer, entonces me aburro mucho.</li>
        <li>Quiero darte picos toda la vida.</li>
        <li>Como no hemos tenido casa sola, no hemos podido hacer cositas.</li>
        <li>p</li>
        <li>¬p</li>
        <li>Perro.</li>
        <li>¿Sabías que te amo mucho?</li>
        <li>Esta está fácil.</li>
        <li>¿Estuvo fácil la anterior?</li>
        <li>El negro no es negro.</li>
        <li>p ∨ p ∨ ¬q</li>
        <li>😍, 📖, 🤦‍, 😭, 🤓, 🥰, y 💕‍ son emojis.</li>
    </ul>
    <div class="checkDiv"> 
        <input class="checkText" type="text" #respuestasSimpleComp>
        <button class="checkBtn" (click)="checkAnswers(respuestasSimpleComp.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>