<div class="titulos">
    <H1>MIREN, TENGO UNA NOVIA JUICIOSA 😍</H1>
</div>

<div class="contenido">
    <p>¿Qué toca estudiar hoy?<br><br>Las que tienen un 👨‍💻 tienen preguntas nuevaas.</p>
    <!--button class="tema" (click)="elegirEstudiar('Tablas de verdad');">Tablas de verdad</button-->
    <button class="tema" (click)="elegirEstudiar('Evaluar proposiciones');">Evaluar proposiciones<br><br> </button>
    <button class="tema" (click)="elegirEstudiar('¿Simple o compuesta?');">¿Simple o compuesta?<br> <br></button>
    <button class="tema" (click)="elegirEstudiar('Reescribir proposiciones');">Reescribir Proposiciones<br> 👨‍💻 </button>
    <button class="tema" (click)="elegirEstudiar('Tipos de números');">Tipos de números<br> 👨‍💻 </button>
    <br>
    <p>Si ya viste algún tema hace más de 4 días y no he puesto nada para estudiarlo, o encuentras algún bug, tienes un deseo gratis 🙍‍♂️.</p>
</div>

<div class="titulos" >
    <H1>{{queEstudiar}}</H1>
</div>

<div [style.display]=" this.queEstudiar=='Reescribir proposiciones' ? 'block' : 'none' " class="contenido">
    <p>Para este premio, tienes que convertir las frases a expresiones lógicas, y ver con cuál de las tres opciones encaja mejor. 
        Cuando tengas el resultado, colocas en el cuadro de abajo A, B, o C, dependiendo si es la primera, segunda, o tercera.</p>
    <p>Cuando acabes, le das en ¿Cómo lo hice?, y yastá.</p>
    <ul>
        <!-- ~ ∨ →  -->
        <b>Está haciendo frío pero no está lloviendo.<br></b>
        <li>
            p ∧ q
        </li>
        <li>
            p ∧ ~q <!--b-->
        </li>
        <li>
            p → ~q
        </li>
        <b>Hoy no es viernes.</b>
        <li>
            p → q
        </li>
        <li>
            p 
        </li>
        <li>
            ~p <!--c-->
        </li>
        <b>Andrea no me dejó mimir ayer, entonces tengo sueñito.</b>
        <li>
            p → q<!--a--> 
        </li>
        <li>
            (p ∨ q) → r 
        </li>
        <li>
            p ∨ (q → r)
        </li>
        <b>Si 2+2=5, entonces el sol es morado y todas las vacas son negras.</b>
        <li>
            p → q ∧ r <!--a-->
        </li>
        <li>
            p → q ∨ r
        </li>
        <li>
            p ∧ q → r 
        </li>
        <b>El Sol es una estrella si y sólo si 1+2=4.</b>
        <li>
            p ↔ q <!--a-->
        </li>
        <li>
            p ↔ p 
        </li>
        <li>
            p ↔ ~q
        </li>
        <b>Yo sé que vas a tener muchísimo éxito y yo quiero compartirlo todo contigo.</b>
        <li>
            Te amo.
        </li>
        <li>
            La verdad esto lo tienes muy claro, entonces quería hacer algo lindo.
        </li>
        <li>
            p ∧ q<!--c-->
        </li>
        <b>Vas a ser una persona muy muy muy buena en lo que sea que hagas siempre y cuando te guste y no te rindas.</b>
        <li>
            Estos dos últimos son mensajes que me has mandado y tengo como destacados.
        </li>
        <li>
            p ↔ (q ∧ r) <!--b-->
        </li>
        <li>
            Me han ayudado mucho muchas veces que estoy desmotivado y no quiero nada 😔 gracias cosita ❤.
        </li>
    </ul>
    <div class="checkDiv">
        <input class="checkText" type="text" #respuestasReescribirPrep>
        <button class="checkBtn" (click)="checkAnswers(respuestasReescribirPrep.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>

<div [style.display]=" this.queEstudiar=='Evaluar proposiciones' ? 'block' : 'none' " class="contenido">
    <p>Para este premio, tienes que ver cada uno de los elementos de la lista que está abajo, y evaluar si el resultado de la 
        expresión es Verdadero o Falso.<br>En <a href="https://matematicasn.blogspot.com/2015/11/logica-proposicional-ejercicios.html">este link </a> 
        me parece que explican bien por si tienes dudas, pero si se te hace bola porfi preguntame.</p>
    <p>A medida que las vayas resolviendo, colocas V o F dependiendo del resultado. Cuando acabes, le das en ¿Cómo lo hice?.</p>
    <p>pd: yo sé que no es tan bonito ni sencillo de usar, pero soy tonto y se me hizo bola hacer algo más bonito 🙁.</p>
    <ul>
        <b>p=Verdadero.<br>
        q=Falso<br></b>
        <li>
            p ∧ q ∨ q <!--F-->
        </li>
        <li>
            p ∧ ¬p <!--F-->
        </li>
        <li>
            p ∨ ¬p <!--V-->
        </li>
        <li>
            [(p → q) ∧ p] → q <!--V-->
        </li>
        <li>
            [(p → q) ∧ ¬q] → ¬p <!--V-->
        </li>
        <b>p=Verdadero.<br>
        q=Verdadero<br></b>
        <li>
            p ∧ q → p <!--V-->
        </li>
        <li>
            (p → q) ∧ ¬q <!--F-->
        </li>
        <b>p=Falso.<br>
            q=Falso
            r=Verdadero<br></b>
        <li>
            (p ∧ q) ∨ (p ∧ r) <!--F-->
        </li>
        <li>
            p ∧ (q ∨ r) <!--F-->
        </li>
        <b>Ahora con proposiciones escritas.</b>
        <li>El sol es rojo</li> <!--F-->
        <li>Andrea come pizza y hamburguesa.</li> <!--V-->
        <li>Quiero helado de cerveza, o de mandarina, o de limón, o de lulo.</li><!--V-->
        <li>Me gusta la carne y la cebolla</li><!--F-->
    </ul>
    <div class="checkDiv">
        <input class="checkText" type="text" #respuestasEvaluarPrep>
        <button class="checkBtn" (click)="checkAnswers(respuestasEvaluarPrep.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>

<div [style.display]=" this.queEstudiar=='¿Simple o compuesta?' ? 'block' : 'none' " class="contenido">
    <p>Este es fácil, tienes que ver cada uno de los elementos de la lista que está abajo, y analizar si es una proposición simple,
        una proposición compuesta o si ni siquiera es una proposición.</p>
    <p>A medida que las vayas resolviendo, colocas las respuestas en el cuadro de texto de abajo así: S si es simple, C si es 
        compuesta, y N si no es una proposición. Cuando acabes, le das en ¿Cómo lo hice?.</p>
    <p>pd: yo sé que no es tan bonito ni sencillo de usar, pero soy tonto y se me hizo bola hacer algo más bonito 🙁.</p>
    <ul>
        <li>Maximiliano es un buen lugar para mimir.</li>
        <li>Ten un lindo día.</li>
        <li>Prende la luz.</li>
        <li>Andrea guarda cosas indebidas en una carpeta oculta.</li>
        <li>Si no tengo nada que hacer, entonces me aburro mucho.</li>
        <li>Quiero darte picos toda la vida.</li>
        <li>Como no hemos tenido casa sola, no hemos podido hacer cositas.</li>
        <li>p</li>
        <li>¬p</li>
        <li>Perro.</li>
        <li>¿Sabías que te amo mucho?</li>
        <li>Esta está fácil.</li>
        <li>¿Estuvo fácil la anterior?</li>
        <li>El negro no es negro.</li>
        <li>p ∨ p ∨ ¬q</li>
        <li>😍, 📖, 🤦‍, 😭, 🤓, 🥰, y 💕‍ son emojis.</li>
    </ul>
    <div class="checkDiv"> 
        <input class="checkText" type="text" #respuestasSimpleComp>
        <button class="checkBtn" (click)="checkAnswers(respuestasSimpleComp.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>}<div [style.display]=" this.queEstudiar=='Tipos de números' ? 'block' : 'none' " class="contenido">
    <p>Holii este ya lo sabes jugar, pones en el cuadro V o F, y cuando acabes, le das en ¿Cómo lo hice?.</p>
    <p>pd: Acuérdate mi vida 
        <br><b>Reales:</b> Todos toditos todos.
        <br><b>Racionales:</b> Estos son los que tienen decimales FINITOS (ten en cuenta que 0 decimales es un número finito 😉).
        <br><b>Enteros:</b> Estos son los únicos que tienen un nombre fácil :3, son todos los que no tienen decimales..
        <br><b>Naturales:</b> Estos son los que usas a diario para contar, son los enteros positivos (y el cero).
        <br><b>Irracionales:</b> Estos son feos como yo 😭, mentiritas yo soy más feo, estos números tienen decimales infinitos.<br>.
        Ya sabes, cualquier duda corres al chat de Osito a preguntarle, ese man me dijo que con todo el amor del mundo te puede explicar.
    </p>
    <ul>
        <li>
            π es un número irracional. <!--v-->
        </li>
        <li>
            √64 es un número natural. <!--v-->
        </li>
        <li>
            82746597210734.12309846321647... es un número entero. <!--f-->
        </li>
        <li>
            La suma de dos números naturales siempre da como resultado otro natural. <!--V-->
        </li>
        <li>
            Los números -5, 4, -37, 0, 94 son enteros pero no reales. <!--f-->
        </li>
        <li>
            El número <sup>10</sup>/<sub>3</sub> es racional. <!--f-->
        </li>
        <li>
            13,10 es un número racional y real. <!--v-->
        </li>
        <li>
            Todos los números naturales son enteros. <!--f-->
        </li>
        <li>
            12,333333333... es un número real e irracional. <!--v-->
        </li>
        <li>
            8<Sup>2</Sup> es un número entero, real, y natural. <!--v-->
        </li>
        <li>
            12 no es un número real. <!--f-->
        </li>
        <li>
            4,2033333333333333333333333333333333333333333333 es un numero periódico mixto. <!--v-->
        </li>
    </ul>
    <div class="checkDiv">
        <input class="checkText" type="text" #respuestasTipoNum>
        <button class="checkBtn" (click)="checkAnswers(respuestasTipoNum.value)">¿Cómo lo hice?</button>
    </div>
    <div class="titulos" >
        <H1>{{clavePremio}}</H1>
    </div>
</div>
