<div class="titulos">
    <H1>Kejesto</H1>
</div>

<div class="contenido">
    <p>Esto es algo que hace mucho tiempo te he querido hacer, pero no me había animado porque no soy bueno para que estas cosas queden lindas 🤦‍♂️, y no había tenido una gran idea
        sobre el contenido que iba a poner, hasta que tuve la idea de combinar algo cursi con algo que te puede servir, como ayudarte a estudiar. La idea es que a medida que pases
        niveles, voy poniéndolos más difíciles (pero si ganas tienes mejores premios 😉). Decidí entregartelo mientras lo sigo haciendo porque de acá a que le ponga todo lo que 
        quiero, se acaba el semestre y no he terminado, y pues la idea es que te sirva para estudiar :3.</p>

    <p>Perdón si queda muy feo 🙁 i'm doing my best; ojalá aprendas mucho y te guste al menos un poquito 🙁.</p>

    <p>Por ahora voy a dejar hasta acá, porque además de malo haciendo cosas bonitas, soy muy malo escribiendo 😭.</p>

    <p>Igual, el point es ir haciendo más cositas a medida que avance el semestre, entonces a lo mejor deberías revisar esta seción de vez en cuando 😉.</p>

    <p>Noruefa 😉.</p>
</div>