<div class="titulos">
    <H1>¿Ganaste o intentas hacer trampa? 🤨</H1>
</div>

<div class="contenido">
    <p>Bueno, te creo, ganaste 🥳. Coloca acá abajo el código (sin tildes porfi 🙁):</p>
    <input type="text" class="codigoPremio" #codigoPremio>
    <br><br>
    <button class="buttonPremio" (click)="checkPremio(codigoPremio.value)">Yastá</button>
</div>

<div class="titulos">
    <H1>{{lugar}}</H1>
</div>

<div class="contenido" [style.display]=" this.foto!='' ? 'block' : 'none' ">
    <img [src]="foto" />
    <p [style.display]="this.lugar == 'Jardín Botánico' ? 'block' : 'none'" style="text-align: justify;">
        Por alguna extraña razón, este fue el primer lugar que se me ocurrió cuando pensé en estos premios; aunque justo ahora mientras escribo esto me parece un
        premio super malo y decepcionante 🙁 pls no me termines. Solo quiero que recuerdes lo lindo que fue ir a la exposición de plantitas carnívoras, y cuando
        subimos a tomarnos fotos lindas pero había mucha gente y nos quedamos hasta que se fueron, y cuando salimos teníamos mucha hambre y por eso no entramos a 
        una conferencia o algo así. Ese día también te paraste sobre una piedra cerca a una cascada y tenías mucho miedo de caerte jajaja 😍. Te amooooo mucho, y 
        ojalá pasemos muchos muuchos más momentos lindos como los de ese día.
    </p>
    <p [style.display]="this.lugar == 'Oye, te lofeo' ? 'block' : 'none'" style="text-align: justify;">
        Te estarás preguntando ¿Por qué este no es un lugar?¿por qué reutilizaste la foto?¿por qué sigo con un novio feo y tonto? y muchas cosas así, y pues no
        tengo respuesta a la mayoría de esas cosas, pero si me preguntas si te sigo amando, sí te puedo decir que te amo con todo mi corazón, y que cada día que 
        pasa te amo mucho mucho más. El fin de semana escuché una canción y después de mucho pensarlo porque no sé si te va a gustar, me dije a mí mismo: "pues 
        qué más da :3", y por eso dejo por acá este video y salgo corriendo (perdón, no sé dedicar canciones 🙁). Te amo cosita linda 😍.<br><br>

        <iframe style="text-align: center;" src="http://www.youtube.com/embed/srE7nr4xuGI" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </p>
    <p [style.display]="this.lugar == 'SOFA' ? 'block' : 'none'" style="text-align: justify;">
        Hacer esto y no poner el SOFA sería pecado, el SOFA ha sido suuper importante para nuestra relación, y he notado que cada sofa estamos en un punto diferente:
        En el primer SOFA, eramos solo amigos super casuales; en el segundo SOFA, nos gustábamos aunque no lo sabíamos (y no fui capaz de darte picos 🙁); en el tercer 
        SOFA ya éramos novios y estábamos muuuy enamorados (yo aún lo estoy, creo que tú también 😍); y al cuarto SOFA no fuimos porque nos quedamos mimiendo 😉🤤. 
        ¿Notas la evolución?. Además de ser una medida de cómo nuestra relación crece, siempre es muy lindo, y la pasamos muy bien, y me ves ser muy ñoño, y me ves
        desesperarme cuando me siento encerrado entre mucha gente 😖, y nos provocamos como de TODO LO QUE VENDEN pero pobres 🙁. Te amoo con todo mi ser, y espero
        pasar un millón de SOFAs más a tu lado cosita.
    </p>
    <p [style.display]="this.lugar == 'Mundo Aventura' ? 'block' : 'none'" style="text-align: justify;">
        Este es uno de esos sitios que no sé cuántas veces hemos ido, pero sí sé que cada vez que vamos es algo hermoso, siempre la pasamos muy bien 
        (aunque esté en mantenimiento medio parque u.u). Contigo hasta hacer filas de 50 minutos se hace interesante. ¿Te acuerdas cuando una niña me miró 
        y te pusiste super celosita? jajaja te amo mucho mi celosita, ¿y te acuerdas cuando fuimos a la granja?¿y las veces que aprovechamos el túnel de 
        los tronquitos 7u7?¿y cuando hicimos fila con las guisas para que nos dieran un perrito caliente :3?¿y cuando nos lanzamos del sky 
        coasteJUEPUTAAESTOESMUYALTOAAAAAAAAAAA? yo sé que eso te daba mucho miedo y lo hiciste solo por mí 😍, tenemos que volveeeer, y también montar en los 
        columpios, y en el Icaro, y en TODOOO.<br><br>Pd: nos debemos una ida también al salitre mágico.
    </p>
    <p [style.display]="this.lugar == 'Noruefa' ? 'block' : 'none'" style="text-align: justify;">
        Oyeeee, ¡hoy cumplimos 29 meses!🥳🥳🥳🥳🥳🥳🥳 y no sabes lo feliz y afortunado y agradecido y encantado y enamorado y ¿ya dije feliz? y 
        lo ilusionado que me siento sabiendo que llevamos tanto tanto tanto tiempo junticos; este último mes fue un poquito difícil para nosotros🙁, pero 
        estoy muy muy convencido que nuestro amor puede superar pruebas muy muy fuertes, siempre y cuando estemos siempre junticos, dándolo todo por esto 
        tan indo que hemos construído juntos en estos dos años y cinco meses. Por mi parte, te prometo que nunca te voy a dejar de amar(🎶), que estoy tan
        enamorado como siempre de ti, que me pareces la cosita más fascinante y hermosa del universo, que te amo desde tus piecitos hermosos hasta tu 
        cabello (que dices que es feo pero a mí me encanta, sobre todo cuando estás recién levantada y se ve rebelde y desordenado), que quiero cumplir 
        todos mis sueños a tu lado, y que quiero que cumplas todos tus sueños a mi lado, quiero que seas la mujer que veo todas las mañanas cuando me 
        despierto, poderte despertar a picos cada mañana (o como quieras a las 4:20 🤤). Te amo con todo mi ser, y espero que pasemos 1091724 millones de 
        meses más junticos consintiendonos, dándonos besitos, arrunchandonos, viendo series, viendo pelis, haciendo cositas ricas 🤭, viajando mucho, 
        y haciendo muchas cosas que seguro se me están pasando.
        <br><br>
        Son las 10 p.m. y decidí que sea como sea, odio pelear contigo; en este momento solo estoy pensando en que mañana tenemos que hablar, y tomar una
        decisión, tenemos muchas cosas que hablar y pensar; aunque, ahora que lo pienso, cuando leas esto, seguramente ya habremos hablado, no sé qué va 
        a pasar, y me da mucho miedo, no te quiero perder. Lo de arriba lo escribí mientras estaba en Itaú, y no lo quiero borrar, fue lo que me salió del 
        corazón, y pase lo que pase, me gustaría que lo leas.
        <br><br>
        Espero muy sinceramente que todo salga bien, que los dos seamos capaces de ver y admitir qué estamos haciendo mal, y estemos super comprometidos 
        a esforzarnos mucho, a hacer hasta lo imposible por luchar por lo nuestro, por dejar atrás actitudes de mierda que van poco a poco dañando lo que 
        con tanto tanto tanto amor hemos construído estos años; que estemos super comprometidos a enamorarnos cada día más y más, a ser esa pareja goals 
        que siempre hemos sido y que tantas personas shippean, a volver a ser la pareja hermosa que éramos hace dos años, aunque sé que muchas cosas han 
        cambiado. Por mi parte, te prometo que voy a esforzarme mucho por ser el mejor novio que a la vida puedes pedir, por hacerte la mujer más feliz 
        del mundo, por ser ese novio que siempre has querido tener. Te amo con todo mi ser, y contigo quiero llegar hasta el mismísimo fin del mundo, pero
        siempre cogidos de la mano, con la sonrisa más grande y los ojos más enamorados del mundo siempre en nuestras caras. Te amo.
        <br><br>
        Si por alguna razón todo salió mal y decidimos que nuestro camino juntos tenía que terminar, solo me queda desearte lo mejor en tu vida, espero 
        que seas infinitamente feliz, que encuentres a alguien mucho mejor que yo, que jamás te hagan sufrir, deseo con todas las fuerzas de mi corazón 
        que cumplas todos y cada uno de tus sueños, confía mucho en tí, sigue a tu corazón, estoy seguro que vas a ser una gran terapeuta, jamás pierdas
        el amor y la ilusión por lo que haces, es eso lo que te hace especial, y te seguirá haciendo especial entre el resto. Gracias por tantos momentos 
        lindos que pasamos juntos, estos han sido los 29 meses más lindos de mi vida, jamás los voy a olvidar, y jamás vas a dejar de ocupar un puesto super 
        especial en mi corazón. Gracias por todo lo que me enseñaste, por tantas veces que me apoyaste, me levantaste el ánimo, y me ayudaste a creer en 
        mí cuando yo mismo no lo hacía, mereces todas las cosas buenas del mundo, y si en algún momento de la vida me necesitas, no lo dudes, siempre voy
        a estar dispuesto a ayudarte, apoyarte, o acompañarte en lo que sea que necesites. Te amo.
    </p>
</div>